/* Header CSS */


.icon_logo img{
    width: 35%;
    height: 50%;
    
}
.main_img{
    position: relative;
    text-align: center;
}
.Doctor_img{
    width: 80%;
    height: 90%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 0px 0px 50px 50px;
}
.icon_logo{
    position: absolute;
    top: 10;
    right: 35%;
    left: 35%;
    color: #036DB9;
}
.main_txt{
    position: absolute;
    bottom: -20;
    left: 30%;
    right: 30%;
    font-weight: bolder;
    color: white;
    background-color: #036DB9;
    border-radius: 30px 0px 30px 0px;
}
.txt_let_us{
    position: absolute;
    bottom: -46;
    left: 30%;
    right: 30%;
    background-color: #36CACF;
    color: white;
    margin-right: 8%;
    margin-left: 8%;
    border-radius: 2px;
}
/* Section CSS  */
section{
    margin-top: 10%;
}
.about_us img{
    width: 50%;
}
.about_txt_h6,.about_txt_h1,.about_txt_p{
    color: #036DB9;
}
.special_attention h4{
    margin-left: 50%;
    text-align: right;
    color: #036DB9;
}
.services img{
    height: 20%;
    width: 50%;
}
.col-4_hour,{
    color: #036DB9;
}
.img_qrcode{
    background-color: #036DB9;
    border-color: #036DB9;
    border-radius: 30px 0 30px 0;
    
}